{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photogur</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header> 
        <nav class = "main_header">
            <h1><a href="/pictures">Photogur</h1></a>
            <form action="{% url 'picture_search' %}" method="GET">
                <label for="picture-search">
                    <span>Search:</span>
                    <input type="search" id="picture-search" name="query" />
                </label>
                <input type="submit" value="Search" /> 
            </form>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class = "main_footer">Copyright © Shaheer Choudhury ~ 2019 ~</footer>
</body>
</html>